<div class="grid_8">
	
	<h1>Blog.</h1>

	<div class="blogPost"> 
		<div class="blogHeader"> 
	    	<div class="blogHeading"> 
				<h2><%= @post.title %></h2> 
	        </div> 
	    	<div class="blogDate"> 
	    		<h4><%= @post.created_at.day %>.<%= @post.created_at.mon %>.<%= @post.created_at.year %></h4> 
	    	</div> 
	    	<br class="clearfloat" /> 
		</div> 

		<%= CGI.unescape @post.body %>
		
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d6b1bb724001ee7"></script>
		<!-- AddThis Button END -->

	</div>
	
</div>

<div class="grid_1">&nbsp;</div>
<div class="grid_3 alignWithContent">
	
	<h3>Tags</h3>
	
	<ul>
	
	<% for tag in @tags %>
	
		<li><a href="/blog/tag/<%= tag.route %>"><%= tag.name %></a></li>

	<% end %>
	
	</ul>
	
</div>
<div class="clear"></div>

