<div class="grid_12"> 
 
	<form name="input" action="/blog" method="post">
	
	<input type="hidden" name="id" value="<%= @post.id %>" /><br />
	
	<p>Title:<br />
	<input type="text" name="title" value="<%= @post.title %>" /></p>
	
	<p>Route:<br />
	<input type="text" name="route" value="<%= @post.route %>" /></p>
	
	<p>Tags (Comma separated):<br />
	<input type="text" name="comma_tags" value="<%= @comma_tags %>" /></p>
	
	<p>Body:<br />
	<textarea rows="15" cols="80" name="body">
		<%= unescape @post.body %>
	</textarea></p>
	
	<input type="submit" value="Submit" />
		
	</form>
    
</div>