<div class="grid_8">
	
	<h1>Blog.</h1>

	<div class="blogPost"> 
		<div class="blogHeader"> 
	    	<div class="blogHeading"> 
				<h2><%= @post.title %></h2> 
	        </div> 
	    	<div class="blogDate"> 
	    		<h4><%= @post.created_at.day %>.<%= @post.created_at.mon %>.<%= @post.created_at.year %></h4> 
	    	</div> 
	    	<br class="clearfloat" /> 
		</div> 

		<%= CGI.unescape @post.body %>

	</div>
	
</div>

<div class="grid_1">&nbsp;</div>
<div class="grid_3 alignWithContent">
	
	<h3>Tags</h3>
	
	<ul>
	
	<% for tag in @tags %>
	
		<li><a href="/blog/tag/<%= tag.route %>"><%= tag.name %></a></li>

	<% end %>
	
	</ul>
	
</div>
<div class="clear"></div>

