<div class="grid_12"> 
 
	<form name="input" action="/work" method="post">

	<input type="hidden" name="id" value="<%= @project.id %>" />
	
	<p>Title:<br />
	<input type="text" name="title" value="<%= @project.title %>" /></p>
	
	<p>Route:<br />
	<input type="text" name="route" value="<%= @project.route %>" /></p>
	
	<p>IMG Small: (220 x 168 pixels):<br />
	<input type="text" name="img_small" value="<%= @project.img_small %>" /></p>
	
	<p>Img Big: (460 width)<br />
	<input type="text" name="img_big" value="<%= @project.img_big %>" /></p>
	
	<p>Leftbar:<br />
	<textarea rows="15" cols="80" name="leftbar"><% if !@project.leftbar.blank? %><%= unescape @project.leftbar %><% end %></textarea></p>
	
	<p>Body:<br />
	<textarea rows="15" cols="80" name="body"><% if !@project.body.blank? %><%= unescape @project.body %><% end %></textarea></p>
	
	<input type="submit" value="Submit" />
		
	</form>
    
</div>