<div class="grid_12"> 
 
	<form name="input" action="/work" method="post">

	<input type="hidden" name="id" value="<%= @project.id %>" /><br />
	
	Title:<br />
	<input type="text" name="title" value="<%= @project.title %>" /><br /><br />
	
	Route:<br />
	<input type="text" name="route" value="<%= @project.route %>" /><br /><br />
	
	IMG Small:<br />
	<input type="text" name="img_small" value="<%= @project.img_small %>" /><br /><br />
	
	IMG Big:<br />
	<input type="text" name="img_big" value="<%= @project.img_big %>" /><br /><br />
	
	Leftbar:<br />
	<textarea rows="15" cols="80" name="leftbar"><% if !@project.leftbar.nil? %><%= unescape @project.leftbar %><% end %></textarea><br />
	
	Body:<br />
	<textarea rows="15" cols="80" name="body"><% if !@project.body.nil? %><%= unescape @project.body %><% end %></textarea><br />
	
	<input type="submit" value="Submit" />
		
	</form>
    
</div>